<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="about">
				<h2>About Venue</h2>
				{{aboutInformation.description}}
			</div>
		</div>
		<div class="col-md-12">
			<div class="contact">
				<h2>Reach out</h2>
				Address: {{ aboutInformation.address.street }} {{ aboutInformation.address.city }} {{ aboutInformation.address.state }} {{ aboutInformation.address.country }} <br>
				Description: {{aboutInformation.description}} <br>
				Phone: {{aboutInformation.phone}} <br>
				Email: {{aboutInformation.email}} <br>
				Hours of operation: {{ aboutInformation.operatingHours }} <br>
			</div>
		</div>
	</div>
</div>
