.header.site {
	font-family: Lato,sans-serif;
	font-size: 19px;
	font-weight: 300;
	text-transform: lowercase;
	
	a {color: #000;}

	.nav>li {padding: 0 10px;}
	.nav>li>a {
		background: none;
		padding: 15px 5px 10px 5px;
		&:hover {border-bottom: 3px solid #000;}
	}

}