<div class="container">
	<div class="row">
		<div class="col-md-6 text-center pager-option" ng-class="{ 'pager-option-selected': options.about }" style="background-image: url('public/img/about.jpg');" ng-click="changeOption('about')">
			<div>
				<div>
					<h3>About</h3>
					<p class="lead">Display general information</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 text-center pager-option" ng-class="{ 'pager-option-selected': options.news }" style="background-image: url('public/img/blog.jpg');" ng-click="changeOption('news')">
			<div>
				<div>
					<h3>News</h3>
					<p class="lead">Display posts and recent activity</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 text-center pager-option" ng-class="{ 'pager-option-selected': options.events }" style="background-image: url('public/img/concert.jpg');" ng-click="changeOption('events')">
			<div>
				<div>
					<h3>Events</h3>
					<p class="lead">Display upcoming events</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 text-center pager-option" ng-class="{ 'pager-option-selected': options.gallery }" style="background-image: url('public/img/gallery.jpg');" ng-click="changeOption('gallery')">
			<div>
				<div>
					<h3>Gallery</h3>
					<p class="lead">Display images</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 pager-options-btn">
			<button type="button" class="btn btn-pager" ng-class="{ 'btn-pager-success': state == 'Saved' }" ng-click="saveOptions()">{{state}}</button>
		</div>
		<div class="col-md-6 pager-options-btn">
			<button type="button" class="btn btn-pager btn-pager-outline" ng-click="viewPage()">View Page</button>
		</div>
	</div>
</div>
