<div class="container" ng-controller="EditCtrl">
	<div class="row">
		<div class="col-md-4">
			<h3>About</h3> <i class="fa fa-bookmark-o"></i>
			Display general information
		</div>
		<div class="col-md-2">
			<h3><input type="checkbox" ng-model="page.about"> </input></h3>
		</div>
		<div class="col-md-4">
			<h3>News</h3> <i class="fa fa-pencil-square"></i>
			Display posts and recent activity
		</div>
		<div class="col-md-2">
			<h3><input type="checkbox" ng-model="page.blog"> </input></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Events</h3> <i class="fa fa-calendar-o"></i>
			Display upcoming events
		</div>
		<div class="col-md-2">
			<h3><input type="checkbox" ng-model="page.events"> </input></h3>
		</div>
		<div class="col-md-4">
			<h3>Gallery</h3> <i class="fa fa-picture-o"></i>
			Display images
		</div>
		<div class="col-md-2">
			<h3><input type="checkbox" ng-model="page.gallery"> </input></h3>
		</div>
	</div>

	value1 = {{page.about}}<br/>
  	value2 = {{page.blog}}<br/>
	value1 = {{page.events}}<br/>
  	value2 = {{page.gallery}}<br/>
</div>
