<div class="header app">
	<nav class="navbar">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="app.pages">Pager</a>
				<span class="navbar-brand text-gray" ng-show="view">/ {{view}}</span>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right pager-menu" ng-class="{ 'pager-menu-open': isMenuOpen }">
					{{name}}
					<li class="dropdown" dropdown on-toggle="openMenu(open)">
						<a id="pagerMenu" class="dropdown-toggle" dropdown-toggle>
							<img class="navbar-image" ng-src="{{image}}">
						</a>
						<ul class="dropdown-menu">
							<li><a ng-click="logout()">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div>
	</nav>
</div>
