<div class="header app">
	<nav class="navbar">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="app.pages">Pager</a>
				<span class="navbar-brand text-gray" ng-show="view">/ {{view}}</span>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					{{name}}
					<li class="dropdown">
						<a id="menu" class="dropdown-toggle" data-toggle="dropdown" data-target="#" aria-haspopup="true" role="button" aria-expanded="false">
							<img class="navbar-image" ng-src="{{image}}"><span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu">
							<li><a ui-sref="/">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div>
	</nav>
</div>
