<div class="container">

  <!-- <div class="pager-item"  ng-repeat="page in pages">
    <div class="row">
      <div class="col-md-2 pager-item-image-container">
        <img ng-src="{{page.image}}"/>
      </div>
      <div class="col-md-10">
        <p>{{page.title}}</p>
        <p>{{page.likes}} | {{page.checkins}}</p>
      </div>
    </div>
  </div> -->

  <div class="pager-item" ng-repeat="page in pages">
    <div>
      <img ng-src="{{page.image}}"/>
    </div>
    <div>
      <p>{{page.title}}</p>
      <p>{{page.likes}} | {{page.checkins}}</p>
    </div>
  </div>

</div>
