<div class="header site">
	<nav class="navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="app.sites">{{site}}</a>
				<span class="navbar-brand text-gray" ng-show="view">{{site}}</span>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="">About</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Events</a></li>
					<li><a href="">Gallery</a></li>
				</ul>
			</div>

		</div>
	</nav>
</div>
