<html>
  <head>
    <title>Pager</title>

    <!-- styles -->
    <link href='public/vendor/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
    <link href='public/vendor/fontawesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
    <link href='public/vendor/angular-loading-bar/build/loading-bar.min.css' rel='stylesheet' type='text/css'/>
    <link href='public/css/app.min.css' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app='pager'>
    <div ui-view></div>

    <!-- scripts -->
    <script src='public/vendor/angular/angular.min.js'></script>
    <script src='public/vendor/angular-ui-router/release/angular-ui-router.min.js'></script>
    <script src='public/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
    <script src='public/vendor/angular-local-storage/dist/angular-local-storage.min.js'></script>
    <script src='public/vendor/angular-animate/angular-animate.min.js'></script>
    <script src='public/vendor/angular-loading-bar/build/loading-bar.min.js'></script>
    <script src='public/vendor/ng-facebook/ngFacebook.js'></script>
    <script src='public/js/app.js'></script>
    <script src='public/js/controllers/header.js'></script>
    <script src='public/js/controllers/pages.js'></script>
    <script src='public/js/controllers/site.js'></script>
    <script src='public/js/controllers/edit.js'></script>
    <script src='public/js/controllers/home.js'></script>
    <script src='public/js/services/api.js'></script>
    <script src='public/js/services/user.js'></script>
  </body>
</html>
