/*
* Spacing
*/
/*
* Colors
*/
body {
  font-family: 'Open Sans', sans-serif; }

/*
* Override bootstrap
*/
.container {
  max-width: 960px; }

.text-gray {
  color: gray !important; }

.lead-lg {
  font-size: 24px; }

.bg-white {
  background-color: white; }

.pager-item {
  display: flex;
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  -webkit-align-items: center;
  cursor: pointer;
  transition: box-shadow 0.1s ease; }
  .pager-item:last-of-type {
    border-bottom: 1px solid #e6e6e6; }
  .pager-item .pager-image {
    flex: 100px 0px;
    margin-right: 30px; }
    .pager-item .pager-image > div:first-child {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      box-shadow: 0px 0px 15px #e6e6e6; }
  .pager-item .pager-header {
    flex: 1; }
  .pager-item .pager-icon-right i {
    font-size: 36px;
    color: #e6e6e6; }
  .pager-item:hover {
    box-shadow: 0px 0px 15px #e6e6e6; }

.pager-title {
  margin: 0;
  font-weight: 300;
  font-size: 36px; }

.pager-subtitle {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  color: gray; }

.pager-checkmark {
  width: 25px; }

.header.app {
  font-weight: 300;
  outline: 0 !important; }
  .header.app .navbar-brand {
    font-size: 35px;
    color: #000;
    padding-top: 40px; }
  .header.app .navbar-nav {
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 22px; }
  .header.app .navbar-image {
    width: 60px;
    height: 60px;
    border-radius: 50%; }
  .header.app .nav > li > a:focus, .header.app .nav > li > a:hover {
    transition: box-shadow 0.1s ease;
    background-color: transparent; }
    .header.app .nav > li > a:focus .navbar-image, .header.app .nav > li > a:hover .navbar-image {
      box-shadow: 0px 0px 15px #e6e6e6; }
  .header.app .pager-menu {
    cursor: pointer;
    padding-left: 15px; }
    .header.app .pager-menu.pager-menu-open {
      background-color: #e6e6e6; }
      .header.app .pager-menu.pager-menu-open .dropdown-toggle {
        background-color: inherit; }
    .header.app .pager-menu .dropdown-menu {
      min-width: 166px;
      right: -1px;
      border: 1px solid #e6e6e6;
      box-shadow: none;
      border-radius: 0; }

.pager-landing {
  position: relative;
  height: 450px;
  background-image: url('../img/landing.jpg');
  background-size: cover;
  background-position: bottom; }

.pager-landing-container {
  display: flex;
  height: 100%;
  -webkit-align-items: center; }

.pager-landing-title {
  width: 100%;
  text-align: center;
  color: white; }
  .pager-landing-title h1 {
    font-weight: 900;
    font-size: 72px;
    text-transformation: uppercase;
    letter-spacing: 3px; }

.pager-landing-browser {
  display: block;
  position: absolute;
  top: -60px; }

.section {
  position: relative;
  padding: 120px 30px;
  overflow-y: hidden; }
  .section:nth-child(2n) {
    background-color: #e6e6e6; }
    .section:nth-child(2n) .pager-landing-browser {
      right: 0; }

.section-header {
  display: flex;
  -webkit-align-items: flex-end; }
  .section-header .lead {
    margin-bottom: 10px; }

.section-header-icon {
  font-size: 172px; }

.section-text {
  margin: 30px 0; }

.section-col-divided .col-md-4 {
  border-right: 1px solid #e6e6e6; }
  .section-col-divided .col-md-4:last-of-type {
    border-right: 0; }

.section-creator {
  color: white;
  background-image: url('../img/landing.jpg');
  background-size: cover;
  background-position: top; }
  .section-creator .creator-title {
    display: inline-block;
    color: #333;
    border: 1px solid #333;
    margin-bottom: 30px;
    padding: 15px; }
  .section-creator .col-md-4 {
    color: #333; }
  .section-creator .creator-content {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden; }
  .section-creator .creator {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    border-radius: 50%; }
  .section-creator.section {
    padding: 30px 0; }

.btn-landing {
  border-radius: 0;
  color: white;
  border-color: #3b5998;
  background-color: #3b5998;
  outline: 0 !important;
  margin-top: 30px; }
  .btn-landing:hover, .btn-landing:focus, .btn-landing:active {
    color: white;
    background-color: #3b5998;
    border-color: #3b5998; }

.btn-update {
  border-radius: 0;
  color: white;
  border-color: #3b5998;
  background-color: #3b5998;
  outline: 0 !important;
  margin-top: 30px; }
  .btn-update:hover, .btn-update:focus, .btn-update:active {
    color: white;
    background-color: #3b5998;
    border-color: #3b5998; }

.site {
  font-family: Lato, sans-serif; }
  .site .intro {
    display: flex;
    width: 100%;
    height: 450px;
    -webkit-align-items: center;
    background-size: cover;
    background-position: center; }
    .site .intro .lead {
      color: white;
      width: 100%;
      text-align: center;
      font-weight: 900;
      font-size: 72px; }
  .site .menu {
    margin: 20px 0; }
  .site .navbar-nav {
    float: none;
    width: 465px;
    margin: 0 auto; }
    .site .navbar-nav li {
      padding: 0 10px; }
      .site .navbar-nav li:hover {
        border-bottom: 3px solid #000; }
    .site .navbar-nav li > a {
      color: #333;
      text-transform: uppercase;
      background: none;
      font-size: 18px;
      padding: 15px 5px 10px 5px; }
    .site .navbar-nav li:first-child {
      border-bottom: 3px solid #000; }
  .site h3 {
    font-weight: 800;
    text-transform: uppercase; }
  .site .event-highlight {
    cursor: pointer;
    text-align: center;
    padding: 15px;
    color: white;
    background-color: #54acf4; }
    .site .event-highlight > p {
      margin: 0; }
  .site .photo-post img {
    display: block;
    width: 100%;
    margin-bottom: 15px; }
  .site .contact-wrap {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center; }

edit-category-img {
  display: block;
  position: absolute; }

.pager-option {
  display: flex;
  height: 250px;
  -webkit-align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0;
  cursor: pointer;
  border: 2px solid white; }
  .pager-option.pager-option-selected > div {
    background-color: rgba(84, 172, 244, 0.3); }
    .pager-option.pager-option-selected > div:hover {
      background-color: rgba(84, 172, 244, 0.3); }
  .pager-option > div {
    display: flex;
    -webkit-align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(84, 172, 244, 0.9); }
    .pager-option > div:hover {
      background-color: rgba(84, 172, 244, 0.95); }
    .pager-option > div > div {
      width: 100%; }
  .pager-option h3, .pager-option p {
    flex: 1;
    color: white; }

.pager-options-btn {
  padding: 0;
  border: 2px solid white; }

.btn-pager {
  width: 100%;
  border-radius: 0;
  color: white;
  background-color: #54acf4;
  border-color: #54acf4;
  outline: 0 !important;
  height: 42px; }
  .btn-pager:hover, .btn-pager:focus, .btn-pager:active {
    color: white;
    background-color: #54acf4; }
  .btn-pager.btn-pager-outline {
    color: #54acf4;
    background-color: white;
    border: 1px solid; }
  .btn-pager.btn-pager-success {
    background-color: #33cd5f;
    border-color: #28a54c; }
