@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800");

h1, h2, h3, h4, h5, h6, p {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

p {
  font-weight: $font-weight-light;

  &.lead {
    @include text($font-size-lead);
  }
}
