title= content_for?(:title) ? yield(:title) : "Pager - Facebook Pages meets the web"

meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1.0"

= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
= javascript_include_tag "vendor/modernizr"
= javascript_include_tag "application", "data-turbolinks-track" => true
= csrf_meta_tags
